@model RentalCar.Models.Locacao

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhar Locação</h1>
<div>
    <a asp-action="Index">Voltar</a>
</div>
<hr />
<div>    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carro.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carro.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLocacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLocacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasLocacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasLocacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorSeguro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorSeguro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Alterar Locação</a>    
</div>
